body{
    background: url("../images/bluebackground.jpg");   
}

img{
    height: 200px;
    width: 200px;
    border:2px solid black;
}

#character-section{
    width: 100%;
    overflow: auto;
    clear: both;
}

#character-section img{
    border:2px solid green; 
    background-color: white;
}

.enemy img{
    border: 2px solid black; 
    background-color: red;
}

#defender-section img{
    border:2px solid green; 
    background-color: black;
}

.image-container{
    float: left;
    margin-right: 20px;
}