body{
    background: url("../images/bluebackground.jpg");   
}

img{
    height: 200px;
    width: 200px;
    border:2px solid black;
    float: left;
    margin-right: 20px;
}

#fight-section{
    width: 100%;
    overflow: auto;
    clear: both;
}

#character-section img{
    border:2px solid green; 
    background-color: white;
}

.enemy img{
    border: 2px solid black; 
    background-color: red;
}

#character-section{
    width: 50%;
    float: left;
}

#defender-section{
    width: 50%;
    float: left;
}

#defender-section img{
    border:2px solid green; 
    background-color: black;
}

p{
    line-height: .5;
}

#log-section{
    width: 100%;
    overflow: auto;
    clear: both;
    margin-top: 30px;
}
